name: Build Strato APK (Debug)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Extract ZIP
      run: |
        unzip *.zip
        ls

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Set up Android SDK
      uses: android-actions/setup-android@v3

    - name: Install NDK + CMake
      run: |
        sdkmanager "ndk;26.1.10909125" "cmake;3.22.1"

    - name: Grant Gradle permission
      run: |
        cd strato*
        chmod +x gradlew

    - name: Build DEBUG APK
      run: |
        cd strato*
        ./gradlew assembleDebug --stacktrace

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: strato-debug-apk
        path: "**/*.apk"
